{% extends 'LeonGames/base.html' %}

{% block content %}
    <br><br>
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-lg-8">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white">
                    <h2 class="card-title mb-0">Editar Venta</h2>
                </div>
                <div class="card-body">
                    <form method="post"  enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                        <a href="{% url 'ventas' %}" class="btn btn-secondary">Volver</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}