{% extends 'LeonGames/base.html' %}
{% block content %}{% load static %}
<head>
    <style>
        .jumbotron {
            padding: 0;
        }

        .jumbotron img {
            max-width: 100%;
            height: auto;
            margin: 0 auto;
            display: block;
        }
           .footer {
            background-color: #165E13;
            color: white;
            padding: 20px 0;
        }
    </style>
</head>
<body>
<div class="jumbotron text-center">
    <img src="{% static 'img/banner.avif' %}" alt="Banner">
</div>
<br>

    <div class="container text-center principal mt-4">
        <div class="row justify-content-center">

            <div class="col-md-6">
                 <form class="form-inline" method="GET">
                {{ form.as_p }}
                <br><button type="submit" class="btn btn-warning ml-2">Buscar</button>
            </form>
            </div>
        </div>
        <hr class="mt-3" style="border: 3px solid #165E13;">

        <div class="row">
            {% for juego in juegos %}
                <div class="col-md-4 mb-4">
                    <div class="card" style="border: 2px solid black; border-radius: 10px">
                         <br>
                    {% if juego.Marca == 'Sony' %}
                        <img src="{% static 'img/sony.png' %}" alt="MarcaJuego" class="card-img-top img-fluid">
                    {% elif juego.Marca == 'Nintendo' %}
                        <img src="{% static 'img/nintendo.png' %}" alt="MarcaJuego" class="card-img-top img-fluid">
                    {% elif juego.Marca == 'Microsoft' %}
                        <img src="{% static 'img/microsoft.png' %}" alt="MarcaJuego" class="card-img-top img-fluid">
                    {% else %}
                        <img src="{% static 'img/caratula.png' %}" alt="MarcaJuego" class="card-img-top img-fluid">
                    {% endif %}
                        <div class="card-body">
                            <h5 class="card-title"> {{ juego.Titulo }}</h5>
                            <p class="card-text">
                                <p>{{ juego.Marca }} </p>  <br>
                            </p>
                          <!--  <a href=" pk=producto.pk %}" class="btn btn-primary">
                                Detalles
                            </a>-->
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

<footer class="footer text-center mt-4">
    <div class="container">
        <p>© 2024 LeonGames. Todos los derechos reservados.</p>
        <p>Desarrollado por Marcos León Portillo</p>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
{% endblock %}