{% extends 'LeonGames/base.html' %}
{% block content %}
<br><br>
    <div class="container mt-4">
        <h2>Listado de juegos</h2>

        <table class="table table-dark table-bordered mt-4" style="border: 2px solid white; border-radius: 10px;">
            <thead>
                <tr style="background-color: indianred; color: white">
                    <td>Titulo<br>⬇️<br></td>
                    <td>Genero<br>⬇️<br></td>
                    <td>Descripción<br>⬇️<br></td>
                    <td>Lanzamiento<br>⬇️<br></td>
                    <td>Desarrollador<br>⬇️<br></td>
                    <td>Marca<br>⬇️<br></td>
                    <td>Acciones<br>⬇️<br></td>
                </tr>
            </thead>
            <tbody>
                {% for juego in juegos %}
                    <tr>
                        <td>{{ juego.Titulo }}</td>
                        <td>{{ juego.Genero}}</td>
                        <td>{{ juego.DescripcionJuego }}</td>
                        <td>{{ juego.Lanzamiento }}</td>
                        <td>{{ juego.Desarrollador }}</td>
                        <td>{{ juego.Marca }}</td>

                        <td>
                    <a href="{% url 'editarJuego' juego.pk %}" class="btn btn-primary btn-sm">Editar</a>
                    <a href="{% url 'eliminarJuego' juego.pk %}" class="btn btn-danger btn-sm">Eliminar</a>

                    </td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="mt-4">
            <a href="{% url 'nuevoJuego' %}" class="btn btn-success">Nuevo producto</a>
        </div>
    </div>
{% endblock %}