{% extends 'LeonGames/base.html' %}
{% block content %}
    <br><br>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-success text-white">
                    <h2 class="mb-0">Añadir juego a la venta</h2>
                </div>
                <div class="card-body">
                    <form method="POST"  enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-3">
                            {{ form.as_p }}
                        </div>
                        <button type="submit" class="btn btn-success">Añadir a la venta</button>
                        <a href="{% url 'ventas' %}" class="btn btn-secondary">Volver</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}